.delete-all-container,
.confirm-delete-container
{
    display: flex;
    flex-direction: column;
}

.delete-all-box,
.confirm-delete-box
{
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #9de59d;
    margin-top: 200px ;
    width: 400px;
    height: 100px;
}

.delete-all-box-text
{
    font-size: 25px;
}

.verify-delete-all-button,
.confirm-delete-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: medium;
    height: 30px;
    width: 400px;
    border-radius: 7px;
    border-width: thin;
    background-color: #cce7cc;
    color: #a63a3a;
    margin-right: 10px;
}

.verify-delete-all-button:hover,
.confirm-delete-button:hover
{
    background-color: #9de59d;
}

.confirm-delete-container
{
    margin-left: 200px;
}
.confirm-delete-box-text
{
    font-size: large;
}