body {
    background-color: grey;
    font-family: Laksaman, Arial, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

p {
    margin-bottom: 20px;
    font-size: 30px;
}
@media screen {
    body{
        width: 100%;
        height: 100%;
    }
}