.option-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
}
.create-button,
.reset-password-button,
.home-button,
.log-in-button,
.forgot-password-button
{
    font-size: medium;
    height: 30px;
    width: 150px;
    border-radius: 7px;
    border-width: thin;
    background-color: #cce7cc;
    color: #a63a3a;
    margin-right: 10px;
}
.create-button:hover,
.reset-password-button:hover,
.home-button:hover,
.log-in-button:hover,
.forgot-password-button:hover{
    background-color: #9de59d;
}
.submit-button {
    font-size: large;
    height: 45px;
    width: 75px;
    border-radius: 7px;
    border-width: thin;
    background-color: #a86c6c;
    color: #9de59d;
    margin-right: 10px;
}
.submit-button:hover {
    background-color: #a63a3a;
}